div {
  width: 50%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.img-thumbnail {
  width: 5%;
  height: 5%;
  min-width: 50px;
}

span {
  display: inline-block;
  min-width: 200px;
  width: 30%;
  padding: 10px;
  /* border: 1px red solid; */
}

input {
  width: 5%;
  min-width: 50px;
  margin: 0px 30px;
}

.itemTitle,
.itemCount,
.itemCost {
  text-align: center;
  /* border: 1px red solid; */
}
